@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-brand {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 40px;
}

.navbar-nav {
  font-size: 20px;
  font-weight: bold;
}

.nav-link {
  cursor: pointer;
}

.active {
  font-weight: bolder;
}

.aboutme-container {
  flex-grow: 1;
  padding: 30px;
  background-image: url("./assets/images/aboutme.jpg");
  background-size: contain;
}

.githubgif {
  width: 240px;
}

.aboutme {
  background-color: rgba(255, 255, 255, 1);
  max-width: 800px;
  padding-top: 20px;
}

.aboutme-text {
  background-color: rgba(255, 255, 255, 1);
  overflow-wrap: break-word;
  max-width: 800px;
  padding-bottom: 20px;
}

.screenshot {
  object-fit: contain;
}

footer {
  background-color: #78c2ad;
  padding: 15px;
}

.logo-container {
  margin: 20px;
}

.portfolio-container {
  margin: 20px 0;
}

#message {
  min-height: 100px;
}

.contact-container {
  flex-grow: 1;
  background-image: url("./assets/images/contactback.jpg");
  padding: 50px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.error-text {
  font-size: 25px;
}

.resume-container {
  flex-grow: 1;
  padding: 40px;
  background-image: url("./assets/images/resume.jpg");
}

.resume-content {
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 500px;
  margin: 0 auto;
}

.footer-logo {
  width: 50px;
}